extends ../index.pug

block content
  h1 Create new book
  form(action='/books/create', method='POST')
    .form-group
      label(for='title') Book's Title
      input#bookCreate.form-control(name="title", type='text')
    .form-group
      label(for='des') Description
      input#bookCreate.form-control(name="des", type='text')
    button.btn.btn-primary ADD