h1 My Books
a(href='/books/create') New
br
br
table(style='width:100%', border='1')
    tr
      th Title
      th Descripton
      th Custom
    each book in books
      tr
        th #{book.title}
        th #{book.des}
        th 
          span &nbsp
          a(href='/books/' + book.id + '/delete', method='POST') Delete
          span &nbsp
          a(href='/books/' + book.id, method='POST') Update