extends ../index.pug

block content
  h1 My Books
  a.h4(href='/books/create') New
  br
  br
  .table-responsive
    table.table
      thead.thead-light
        tr
          th(scope='col') Title
          th(scope='col') Description
          th(scope='col') Custom
      tbody
        each book in books
          tr
            td #{book.title}
            td #{book.des}
            td 
              span &nbsp
              a(href='/books/' + book.id + '/delete', method='POST') Delete
              span &nbsp
              a(href='/books/' + book.id, method='POST') Update