extends ../index.pug

block content
  h1 Update User's information
  form(action='/users/update', method='POST')
    .form-group
      label(for='name') Name: 
      input#name.form-control(name="name", type='text', value= user.name)
    .form-group
      label(for='email') Information: 
      input#email.form-control(name="email", type='email', value= user.email)
    button.btn.btn-primary Update