h1 Update User's information
form(action='/users/update', method='POST')
	label Name: 
	input(name="name", type='text')
	br
	br
	label Information: 
	input(name="info", type='text')
	br
	button Update