a(href="/todos/create") New

form(action='/todos/search', method='GET')
  input(type='text', name='q')
  button Search

ul
  each item in todos
    li
      span= item.text
      span &nbsp
      a(href="/todos/" + item.id + "/delete") Delete